.just-padding {
  padding: 15px;
}

.list-group.list-group-root {
  padding: 0;
  overflow: hidden;
}

.list-group.list-group-root .list-group {
  margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
  border-radius: 0;
  border-width: 1px 0 0 0;
  font-size: medium;
}

.list-group.list-group-root > .list-group-item:first-child {
  border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
  padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
  padding-left: 45px;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 56;
  left: 0;
  /*background-color: #111;*/
  background-color: #007bff;

  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: black;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 18px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.spaceBetween {
  /*display: block;*/
  margin-left: 20px; /** Change this value to whatever you wish **/
}


.buttonDeco{
  font-size: 15px;
}

.add-hobbies {
    height: 100px;
    margin-top: 20px;
    margin-left: 20px;
}

.list-hobbies {
    height: 50px;
    /*margin-top: 20px;*/
    margin-left: 20px;
}

.hide{
  display: none
}

.action-hobby{
  margin-left:200px;
  font-size: 15px;
}

.top-space{
  margin-top:10px;
}
.decorate-logout{
  color: black;
}